-- DropForeignKey
ALTER TABLE "PasswordResetToken" DROP CONSTRAINT "PasswordResetToken_userId_fkey";

-- DropForeignKey
ALTER TABLE "ProjectDraft" DROP CONSTRAINT "ProjectDraft_projectId_fkey";

-- DropForeignKey
ALTER TABLE "ProjectPhoto" DROP CONSTRAINT "ProjectPhoto_projectId_fkey";

-- AlterTable
ALTER TABLE "Project" DROP COLUMN "responsible";

-- AlterTable
ALTER TABLE "ProjectPhoto" DROP COLUMN "defectType",
ADD COLUMN     "defectId" INTEGER,
ADD COLUMN     "originalName" TEXT NOT NULL,
ALTER COLUMN "section" DROP NOT NULL,
ALTER COLUMN "filename" DROP NOT NULL;

-- CreateTable
CREATE TABLE "DefectType" (
    "id" SERIAL NOT NULL,
    "oneCId" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "DefectType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Defect" (
    "id" SERIAL NOT NULL,
    "projectId" INTEGER NOT NULL,
    "typeId" INTEGER NOT NULL,
    "pages" INTEGER NOT NULL,

    CONSTRAINT "Defect_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "DefectType_oneCId_key" ON "DefectType"("oneCId");

-- CreateIndex
CREATE INDEX "Project_oneCId_idx" ON "Project"("oneCId");

-- CreateIndex
CREATE INDEX "User_oneCId_idx" ON "User"("oneCId");

-- AddForeignKey
ALTER TABLE "Defect" ADD CONSTRAINT "Defect_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Defect" ADD CONSTRAINT "Defect_typeId_fkey" FOREIGN KEY ("typeId") REFERENCES "DefectType"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectPhoto" ADD CONSTRAINT "ProjectPhoto_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectPhoto" ADD CONSTRAINT "ProjectPhoto_defectId_fkey" FOREIGN KEY ("defectId") REFERENCES "Defect"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectDraft" ADD CONSTRAINT "ProjectDraft_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PasswordResetToken" ADD CONSTRAINT "PasswordResetToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

