body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: #f5f5f5;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 90px;
  text-align: center;
}

.info-row {
    display: grid;
    grid-template-columns: 18px auto;
    column-gap: 10px;
    row-gap: 2px;
    align-items: center;
}

.info-icon {
  grid-row: 1 / span 2; /* иконка занимает 2 строки */
  width: 18px;
  height: 18px;
  /*opacity: 0.7;*/
}

.info-title {
  font-size: 14px;
  font-weight: 500;
  margin-left: -40px;
}

.info-subtitle {
  grid-column: 1 / span 2; /* начинается от самой левой линии */
  font-size: 12px;
  color: #888;
}

.card {
margin-top: 50px;
background: white;
padding: 32px 60px 32px 60px;
border-radius: 16px;
width: 270px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.card h2{
  font-size: 22px;
  font-weight: 600;
}


.tabs {
  display: flex;
  gap: 45px;
  margin-bottom: 20px;
}

.tabs button {
  /*flex: 1;*/
  padding: 8px 0px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #777;
  text-align: left;
  position: relative; /* нужно для ::after */
}

.tabs .active {
  color: #000000;
}

.tabs .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%; 
  background-color: #2aa3ff;

  /* ширина линии чуть больше текста */
  /*width: 70%;*/
  /*max-width: calc(100% + 0px);  добавляем 8px к длине текста */
  
  /*background-color: #2aa3ff;*/
  /*transform: translateX(-4px);  сдвигаем, чтобы линия была по центру текста */
}


input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.primary {
  width: 100%;
  padding: 10px;
  background: #2aa3ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 37px;
}

.back {
  width: 100%;
  padding: 10px;
  background: #ffffff;
  color: #2aa3ff;
  border: 1px solid #2aa3ff;
  border-radius: 6px;
  cursor: pointer;
  height: 37px;
  margin-top: 10px;
}


.link {
  margin-top: 10px;
  background: none;
  border: none;
  color: #777;
  cursor: pointer;
  font-size: 13px;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-size: 13px;
}


p {
    font-size: 13px;
}


.page_recovery {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_recovery {
  background: white;
  padding: 32px 60px;
  border-radius: 16px;
  width: 280px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

  transform: translateY(-50px); /* ← смещение вверх */
}

.card_recovery h2{
  font-size: 22px;
  font-weight: 600;
}


/* Адаптация под мобильные */
@media (max-width: 480px) {
  .card {
    width: 70%;
    max-width: 320px;
    padding: 30px 36px;
    margin-top: 30px;
}

.card_recovery {
    background: white;
    padding: 30px 30px;
    border-radius: 16px;
    width: 280px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-50px);
}
}